<!DOCTYPE html>
<!-- 
Template Name: Nairaplus
Author: OSM-FINC
Contact: https://nairaplus.com/

-->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <meta name="description" content="Omnibus and Omni Channel user interface Platform to aid Reporting, Monitoring and Transactions." />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="icon" href="/favicon.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">

    <!-- vector map CSS -->
    <link href="/vendors/vectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" type="text/css" />

    <!-- Toggles CSS -->
    <link href="/vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css">
    <link href="/vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css">
	
	<!-- Toastr CSS -->
    <link href="/vendors/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>