<!-- Vertical Nav -->
<nav class="hk-nav hk-nav-light">
    <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i data-feather="x"></i></span></a>
    <div class="nicescroll-bar">
        <div class="navbar-nav-wrap">
            <hr class="nav-separator">
            <div class="nav-header">
                <span>User Interface</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="grid"></i></span>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#device_drp">
                        <span class="feather-icon"><i data-feather="server"></i></span>
                        <span class="nav-link-text">Devices</span>
                    </a>
                    <ul id="device_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">POSPlus</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">IGRPay</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">BVN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">NIMC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Mobile</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#agent_drp">
                        <span class="feather-icon"><i data-feather="user"></i></span>
                        <span class="nav-link-text">Agents</span>
                    </a>
                    <ul id="agent_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Register Agent</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Find Agent</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Block Agent</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#services_drp">
                        <span class="feather-icon"><i data-feather="aperture"></i></span>
                        <span class="nav-link-text">Services</span>
                    </a>
                    <ul id="services_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Naira.Com</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">POSPlus</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Innstapay</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="credit-card"></i></span>
                        <span class="nav-link-text">NairaPlus Wallet</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="credit-card"></i></span>
                        <span class="nav-link-text">NairaPlus Virtual &amp; Plastic Card</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#fund_drp">
                        <span class="feather-icon"><i data-feather="download"></i></span>
                        <span class="nav-link-text">Fund Wallet</span>
                    </a>
                    <ul id="fund_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">NairaPlus</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Naira.Com</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Innstapay</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">POSPlus</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>User Interface</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#transfer_drp">
                        <span class="feather-icon"><i data-feather="arrow-right"></i></span>
                        <span class="nav-link-text">Transfer</span>
                    </a>
                    <ul id="transfer_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">NairaPlus</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Naira.Com</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Innstapay</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">POSPlus</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="book"></i></span>
                        <span class="nav-link-text">End Of Day</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="airplay"></i></span>
                        <span class="nav-link-text">Settlement</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="corner-left-down"></i></span>
                        <span class="nav-link-text">Savings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="corner-right-up"></i></span>
                        <span class="nav-link-text">Loans</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="trending-up"></i></span>
                        <span class="nav-link-text">Financial HyperMarket</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="zap"></i></span>
                        <span class="nav-link-text">Notifications</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="clipboard"></i></span>
                        <span class="nav-link-text">Reports</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="help-circle"></i></span>
                        <span class="nav-link-text">Help Desk</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="settings"></i></span>
                        <span class="nav-link-text">Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="log-out"></i></span>
                        <span class="nav-link-text">Logout</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
<div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
<!-- /Vertical Nav -->