<% include partials/head.ejs %>

<% include partials/body.ejs %>
	
	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">

        <% include partials/top_navbar.ejs %>

        <% include partials/user_vertical_navbar.ejs %>        

        <!-- <% include partials/top_nav_settings.ejs %>       -->

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
			<!-- Container -->
            <div class="container mt-xl-50 mt-sm-30 mt-15">
                <!-- Title -->
                <div class="hk-pg-header align-items-top">
                    <div class="card w-100">
						<div class="card-header d-flex justify-content-between align-items-center" style="height:120px">
							<h6>Balance : </h6>
							<div class="d-flex h-70 display-4 justify-content-between align-items-center">
								<span class="badge badge-info pb-30 pt-30"><img class="icon" src="https://img.icons8.com/ios/30/ffffff/wallet.png"> &#8358;100000.00</span>
							</div>
						</div>
					</div>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
						<section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card text-white bg-primary justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/businesswoman.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">Find Agent</span>
														</div>	
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card text-white bg-secondary justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/deposit.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">Cash In</span>
														</div>
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card text-white bg-success justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/withdrawal-filled.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">Cash Out</span>
														</div>
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card text-white bg-danger justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/money-box.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">Save</span>
														</div>
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card text-white bg-warning justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/refund.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">Get Loan</span>
														</div>
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card text-white bg-info justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/safe-ok.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">Get Insured</span>
														</div>
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card bg-warning justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/receipt.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">BVN</span>
														</div>
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30 rounded-lg">
											<a href="#">
												<div class="card text-white bg-dark justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/token-card-code.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">NIMC</span>
														</div>
												</div>
											</a>											
										</div>
										<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card text-white bg-warning justify-content-center align-items-center">
													<div class="card-header">
														<div class="icon" >
															<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
															<img class="icon" src="https://img.icons8.com/ios/50/ffffff/iphone-x.png">
														</div>
													</div>
													<div class="card-body">
														<span class="card-text ">TopUp</span>
													</div>
												</div>
											</a>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card text-white bg-info justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/cash-in-hand.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">Pay Bills</span>
														</div>
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
											<a href="#">
												<div class="card bg-primary justify-content-center align-items-center">
														<div class="card-header">
															<div class="icon" >
																<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
																<img class="icon" src="https://img.icons8.com/ios/50/ffffff/community-grants.png">
															</div>
														</div>
														<div class="card-body">
															<span class="card-text ">Register</span>
														</div>
												</div>
											</a>											
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30 rounded-lg">
											<a href="#">
												<div class="card text-white bg-dark justify-content-center align-items-center">
													<div class="card-header">
														<div class="icon" >
															<!-- <i style="font-size:40px" class="icon dripicons-download"></i> -->
															<img class="icon" src="https://img.icons8.com/ios/50/ffffff/budget.png">
														</div>
													</div>
													<div class="card-body">
														<span class="card-text ">Vendor</span>
													</div>
												</div>
											</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
					</div>
                </div>
				<!-- /Row -->
				
				<!-- Transactions -->
				<div class="d-flex align-items-center justify-content-between mt-40 mb-20">
					<h4>Recent Transactions</h4>
					<button class="btn btn-sm btn-link">view all</button>
				</div>
				<div class="card">
					<div class="card-body pa-0">
						<div class="table-wrap">
							<div class="table-responsive">
								<table class="table table-sm table-hover mb-0">
									<thead>
										<tr>
											<th>Project</th>
											<th>Company</th>
											<th>Update</th>
											<th>Budget</th>
											<th>Tasks</th>
											<th class="w-20">Status</th>
											<th>Deadline</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Branding</td>
											<td>Pineapple Inc</td>
											<td>13 Nov 2018</td>
											<td><span class="badge badge-success">Completed</span></td>
											<td><span class="d-flex align-items-center"><i class="zmdi zmdi-time-restore font-25 mr-10 text-light-40"></i><span>0</span></span></td>
											<td>
												<div class="progress-wrap lb-side-left mnw-125p">
													<div class="progress-lb-wrap">
														<label class="progress-label mnw-25p">95%</label>
														<div class="progress progress-bar-xs">
															<div class="progress-bar bg-success w-95" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</td>
											<td>10 Nov 2018</td>
										</tr>
										<tr>
											<td>Website</td>
											<td>Gooole co.</td>
											<td>30 Nov 2018</td>
											<td><span class="badge badge-primary">In Process</span></td>
											<td><span class="d-flex align-items-center"><i class="zmdi zmdi-time-restore font-25 mr-10 text-light-40"></i><span>3</span></span></td>
											<td>
												<div class="progress-wrap lb-side-left mnw-125p">
													<div class="progress-lb-wrap">
														<label class="progress-label mnw-25p">70%</label>
														<div class="progress progress-bar-xs">
															<div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</td>
											<td>13 Dec 2018</td>
										</tr>
										<tr>
											<td>Collaterals</td>
											<td>Big Energy</td>
											<td>12 Nov 2018</td>
											<td><span class="badge badge-danger">Behind</span></td>
											<td><span class="d-flex align-items-center"><i class="zmdi zmdi-time-restore font-25 mr-10 text-light-40"></i><span>14</span></span></td>
											<td>
												<div class="progress-wrap lb-side-left mnw-125p">
													<div class="progress-lb-wrap">
														<label class="progress-label mnw-25p">35%</label>
														<div class="progress progress-bar-xs">
															<div class="progress-bar bg-danger w-35" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</td>
											<td>21 Oct 2018</td>
										</tr>
										<tr>
											<td>Branding, Print</td>
											<td>Novotel</td>
											<td>10 Nov 2018</td>
											<td><span class="badge badge-primary">In process</span></td>
											<td><span class="d-flex align-items-center"><i class="zmdi zmdi-time-restore font-25 mr-10 text-light-40"></i><span>6</span></span></td>
											<td>
												<div class="progress-wrap lb-side-left mnw-125p">
													<div class="progress-lb-wrap">
														<label class="progress-label mnw-25p">85%</label>
														<div class="progress progress-bar-xs">
															<div class="progress-bar bg-primary w-85" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</td>
											<td>14 Nov 2018</td>
										</tr>
										<tr>
											<td>Web Application</td>
											<td>Folkswagan</td>
											<td>12 Nov 2018</td>
											<td><span class="badge badge-danger">Behind</span></td>
											<td><span class="d-flex align-items-center"><i class="zmdi zmdi-time-restore font-25 mr-10 text-light-40"></i><span>9</span></span></td>
											<td>
												<div class="progress-wrap lb-side-left">
													<div class="progress-lb-wrap">
														<label class="progress-label mnw-25p">30%</label>
														<div class="progress progress-bar-xs">
															<div class="progress-bar bg-danger w-30" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</td>
											<td>15 Oct 2018</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /Transactions -->
            </div>
            <!-- /Container -->
			
            <% include partials/copyright.ejs %>
        </div>
        <!-- /Main Content -->
<% include partials/footer.ejs %>