<% include partials/head.ejs %>

<% include partials/body.ejs %>
	
	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">

        <% include partials/top_navbar.ejs %>

        <% include partials/vertical_navbar.ejs %>        

        <!-- <% include partials/top_nav_settings.ejs %>       -->

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
			<!-- Container -->
            <di v class="container mt-xl-50 mt-sm-30 mt-15">
                <!-- Title -->
                <div class="hk-pg-header align-items-top">
                    <div>
						<h2 class="hk-pg-title font-weight-600 mb-10">Customer Management</h2>
						<p>Questions about onboarding lead data? <a href="#">Learn more.</a></p>
					</div>
                </div>
                <!-- /Title -->

                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
						<!--They stop here-->
                        <div class="hk-row">
							<div class="col-sm-12">
								<!-- <div class="card-group hk-dash-type-2">
									<div class="card card-sm">
										<div class="card-body">
											<div class="d-flex justify-content-between mb-5">
												<div>
													<span class="d-block font-15 text-dark font-weight-500">Users</span>
												</div>
												<div>
													<span class="text-success font-14 font-weight-500">+10%</span>
												</div>
											</div>
											<div>
												<span class="d-block display-4 text-dark mb-5">168M</span>
												<small class="d-block">172,458 Target Users</small>
											</div>
										</div>
									</div>
								
									<div class="card card-sm">
										<div class="card-body">
											<div class="d-flex justify-content-between mb-5">
												<div>
													<span class="d-block font-15 text-dark font-weight-500">Campaign Leads</span>
												</div>
												<div>
													<span class="text-success font-14 font-weight-500">+12.5%</span>
												</div>
											</div>
											<div>
												<span class="d-block display-4 text-dark mb-5"><span class="counter-anim">168,856</span></span>
												<small class="d-block">472,458 Targeted</small>
											</div>
										</div>
									</div>
								
									<div class="card card-sm">
										<div class="card-body">
											<div class="d-flex justify-content-between mb-5">
												<div>
													<span class="d-block font-15 text-dark font-weight-500">New Contacts</span>
												</div>
												<div>
													<span class="text-warning font-14 font-weight-500">-2.8%</span>
												</div>
											</div>
											<div>
												<span class="d-block display-4 text-dark mb-5">73</span>
												<small class="d-block">100 Targeted</small>
											</div>
										</div>
									</div>
								
									<div class="card card-sm">
										<div class="card-body">
											<div class="d-flex justify-content-between mb-5">
												<div>
													<span class="d-block font-15 text-dark font-weight-500">Win/Loss Ratio</span>
												</div>
												<div>
													<span class="text-danger font-14 font-weight-500">-75%</span>
												</div>
											</div>
											<div>
												<span class="d-block display-4 text-dark mb-5">48:65</span>
												<small class="d-block">42:32 Targeted</small>
											</div>
										</div>
									</div>
								</div> -->
							</div>	
						</div>
						<section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card text-white bg-primary justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card text-white bg-secondary justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card text-white bg-success justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card text-white bg-danger justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card text-white bg-warning justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card text-white bg-info justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card bg-light justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30 rounded-lg">
                                            <div class="card text-white bg-dark justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
										</div>
										<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card text-white bg-warning justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card text-white bg-info justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30">
                                            <div class="card bg-light justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 mb-30 rounded-lg">
                                            <div class="card text-white bg-dark justify-content-center align-items-center">
                                                <div class="card-header">
													<div class="icon" ><i style="font-size:40px" class="icon" data-icon="a"></i></div>
												</div>
                                                <div class="card-body">
													<span class="card-text ">Devices</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
					</div>
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
			
            <% include partials/copyright.ejs %>
        </div>
        <!-- /Main Content -->
<% include partials/footer.ejs %>